


     
@font-face {font-family: 'WeissenhofGrotesk-Bold';src:url('webfonts/332361_0_unhinted_0.woff2') format('woff2'),url('webfonts/332361_0_unhinted_0.woff') format('woff'),url('webfonts/332361_0_unhinted_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'WeissenhofGrotesk-BoldItalic';src:url('webfonts/332361_1_unhinted_0.woff2') format('woff2'),url('webfonts/332361_1_unhinted_0.woff') format('woff'),url('webfonts/332361_1_unhinted_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'WeissenhofGrotesk-LightItalic';src:url('webfonts/332361_2_unhinted_0.woff2') format('woff2'),url('webfonts/332361_2_unhinted_0.woff') format('woff'),url('webfonts/332361_2_unhinted_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'WeissenhofGrotesk-Italic';src:url('webfonts/332361_3_unhinted_0.woff2') format('woff2'),url('webfonts/332361_3_unhinted_0.woff') format('woff'),url('webfonts/332361_3_unhinted_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'WeissenhofGrotesk-Light';src:url('webfonts/332361_4_unhinted_0.woff2') format('woff2'),url('webfonts/332361_4_unhinted_0.woff') format('woff'),url('webfonts/332361_4_unhinted_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'WeissenhofGrotesk-Medium';src:url('webfonts/332361_5_unhinted_0.woff2') format('woff2'),url('webfonts/332361_5_unhinted_0.woff') format('woff'),url('webfonts/332361_5_unhinted_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'WeissenhofGrotesk-MediumItalic';src:url('webfonts/332361_6_unhinted_0.woff2') format('woff2'),url('webfonts/332361_6_unhinted_0.woff') format('woff'),url('webfonts/332361_6_unhinted_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'WeissenhofGrotesk-Regular';src:url('webfonts/332361_7_unhinted_0.woff2') format('woff2'),url('webfonts/332361_7_unhinted_0.woff') format('woff'),url('webfonts/332361_7_unhinted_0.ttf') format('truetype');}
 
   
    