*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 18px; 
}

body {
  background: #fff;
  color: #333;
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', 'Arial';
  font-weight: 300;
}

.wrapper{
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Questrial';
}

input {
  outline: none;
  width: 50%;
  max-width: 500px;
  height: 100%;
}

input, button{
  font-size: 0.70rem;
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', 'Arial';
  padding: 10px;
  font-weight: 300;
}
details{
  margin: 0 auto;
  margin-bottom: 60px;
}
#header__station_id{
  font-family: 'PT Mono', 'monospace';
  margin: 40px 0;
}
.meta {
  font-size: 0.8rem;
  color: #999;
}

.info {
  text-align: center;
}

#feedback{
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #777;
  background-color: #fff;
  padding: 0.5rem;
  pointer-events: none;
  transition: opacity 0.5s; 
  -webkit-transition: opacity 0.5s; 
  opacity: 0;
  z-index: 9999;
}

.show{
  opacity: 1 !important;
}


.btn{
  padding: 8px 18px;
  background-color: #000;
  border: 2px solid #000;
  color: #fff;
}
.btn.muted{
  background-color: #fff;
  color: #000;
}
.btn.disabled{
  pointer-events: none;
  background-color: #777;
}
.btn.muted:hover{
  background-color: #fff;
  color: #593e0b;
  border: 2px solid #b08e4b;
}
.btn:hover{
  background-color: #b08e4b;
  border: 2px solid #b08e4b;
}

.tools{
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 1.6rem);
  padding:0.8rem;
  background-color: rgba(160,160,160,.35);
  z-index: 9999;
}

.viewers{
  width: calc(100% - 1rem);
  padding: 0.5rem;
}

.model-viewer{
  min-height: 500px;
  height: 100vh;
  width: 100%;  
}

.model{
  border-bottom: 1px dashed #eee;
  margin: 1rem 0;
  text-align: right;
}

.closer{
  border-bottom: 2px solid #eee;
  margin-bottom: 2rem;
}

.hidden{
  display: none;
}