*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 18px; 
  letter-spacing: 0.05rem;
}

body {
  background: #fff;
  color: #283583;
  font-family: 'WeissenhofGrotesk-Regular', 'Helvetica Neue', 'Arial';
}

.wrapper{
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'WeissenhofGrotesk-Medium';
  letter-spacing: 0.065rem;
  margin-bottom: 1rem;
}

input {
  outline: none;
  width: 50%;
  max-width: 500px;
  height: 100%;
}

input, button{
  font-size: 0.76rem;
  font-family: 'WeissenhofGrotesk-Regular', 'Helvetica Neue', 'Arial';
  letter-spacing: 0.04rem;
  margin-bottom: 0.8rem;
}

details{
  margin: 0 auto;
  margin-bottom: 60px;
}
#header__station_id{
  font-family: 'PT Mono', 'monospace';
  margin: 40px 0;
}
.meta {
  font-size: 0.8rem;
  color: #999;
}

.info {
  text-align: center;
}

.logo{
  position: absolute;
  max-width: 120px;
  top: 1rem;
  right: 1rem;
}

#feedback{
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 1px solid #283583;
  background-color: #fff;
  padding: 0.5rem;
  pointer-events: none;
  transition: opacity 0.5s; 
  -webkit-transition: opacity 0.5s; 
  opacity: 0;
  z-index: 9999;
}

.show{
  opacity: 1 !important;
}


.btn{
  padding: 8px 18px;
  background-color: #283583;
  border: 2px solid #283583;
  color: #fff;
}
.btn.muted{
  background-color: #fff;
  color: #000;
}
.btn.disabled{
  pointer-events: none;
  background-color: #AAB5F8;
  color: #283583;
}
.btn.muted:hover{
  background-color: #fff;
  color: #593e0b;
  border: 2px solid #b08e4b;
}
.btn:hover{
  background-color: #fff;
  border: 2px solid #283583;
  color: #283583;
}

.tools{
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 1.6rem);
  padding:0.8rem 0.8rem 0;
  background-color: rgba(90,113,255,1);
  z-index: 9999;
  color: #fff;
}

.viewers{
  width: calc(100% - 1rem);
  padding: 0.5rem;
  height: 80%;
}

.model-viewer{
  min-height: 500px;
  height: 70vh;
  width: 100%;  
}

.model{
  border-bottom: 1px dashed #eee;
  margin: 1rem 0;
  text-align: right;
}

.closer{
  border-bottom: 2px solid #eee;
  margin-bottom: 2rem;
}

.hidden{
  display: none;
}

.canvas{
  width: 3000px;
  height: 3000px;
  position: absolute;
  top: -9999px;
  left: -9999px;
}